<div class="sidebar-inner left-sidebar-closed">
	<div class="sidebar-toggle pull-left" ng-click="slide()">
		<i ng-class="{'icon-chevron-left':!is_slide_out, 'icon-chevron-right':is_slide_out}" class="icon-2x"></i>
	</div>

	<div class="metadata-sidebar">
		<div class="sidebar-slide">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Metadata</h3>
				</div>
				<div class="sidebar-content panel-body no-overflow" ng-transclude="">

				</div>
			</div>
		</div>
	</div>
</div>