<div class="jumbotron">
  <h1>DICOM Image Loader</h1>
</div>
<div class="container">
	<div class ="row show-grid">
		<div class="col-lg-2 no-padding-right">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Files
						<div class="btn-group pull-right">
						  <button type="button" class="btn btn-small dropdown-toggle" data-toggle="dropdown" style="background:none; margin-top:-10px;">
								<i class="icon-gear icon-2x" style="color: green"></i>
						  </button>
						  <ul class="dropdown-menu">
						    <li><a href="#">Add Files</a></li>
						  </ul>
						</div>
					</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">

						<li class="list-group-item" ng-repeat="file in fileManager.get()" ng-class="{true: 'active', false: ''}[fileManager.getActiveIndex()==$index]" ng-click="fileManager.setActiveIndex($index)">
							<div class="row">
								<div class="col-xs-10">
									<h4 class="list-group-item-heading">{{file.name}}</h4>
									<img class="img-thumbnail" ng-src="{{file.data.pngStream}}"/>
									<p class="list-group-item-text">{{file.lastModifiedDate | date}}</p>
								</div>
								<div class="col-xs-2">
									<button ng-click = "removeFile(file.id)" type="button" class="btn btn-danger row"><i class="icon-remove"></i></button>
								</div>
							</div>
						</li>
					</ul>

					<div class="panel panel-success">
						<div class="panel-heading">Add Files</div>
						<div class="panel-body">
							<ng-file-reader></ng-file-reader>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-10 no-padding-left no-padding-right">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">Image</h3></div>
				<div class="panel-body">
					<div class="row">
						<div class="analysis-meta-data" doppler-analysis-meta-data></div>
						<sliding-drawer class="col-lg-8 sliding-drawer">
							<div class="metadata-content">
								<dcm-meta-data-table metadata="fileManager.getActive().data"></dcm-meta-data-table>
							</div>
						</sliding-drawer>
						<div class="image-container">

							<img  style="position:absolute; top:0" ng-src="{{fileManager.getActive().data.pngStream}}"></img>
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
								<ng-fitter limit-x="true" fit = "fileManager.getActive().analysis.e_wave.pixel_data.start"></ng-fitter>
        				<ng-fitter fit = "fileManager.getActive().analysis.e_wave.pixel_data.peak" ></ng-fitter>
        				<ng-fitter limit-x="true" fit = "fileManager.getActive().analysis.e_wave.pixel_data.end"></ng-fitter>
        				<e-wave-fit
        				analysis = "fileManager.getActive().analysis"></e-wave-fit>
							</svg>
							<canvas raw-img-canvas id="image-canvas">
							</canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
